.icon-left {
  position: absolute;
  top: 5px;
  left: 5px;
}

.icon-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.season-display .winter i{
  color: blue;
}

.season-display .summer i{
  color: red;
}


.season-display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter{
  background-color: aliceblue;
}

.summer{
  background-color: orange;
}
